.speech{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 32px;
color: black;
}
.stage-direction{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
color: black;
background-color: coral;
}

.stage-direction:hover{
    background-color: black;
    color: rgb(54, 115, 168);
}
.name{
font-family: 'Times New Roman', Times, serif;
font-size: 32px;
color: black;
}

.prof{
color: rgb(30, 37, 43);
}

.mitch{
color: blue;
}

.alex{
color: brown;
}

.vera{
color: cadetblue;
}

.pres{
color: coral;
}

.table {
    border: solid 10px;
    border-color: brown;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

tr:nth-child(even) {
    background-color: coral;
}

td{
    padding: 32px 32px 32px 32px;
}

.name:hover{
    text-shadow: 0 0 3px #ffc400, 0 0 5px #ff0062;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }